@import '../../app.scss';

.parallax{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    h1{
        font-size: 100px;

        @include tablet{
            font-size: 80px;
            text-align: center;
        }
        
        @include mobile{
            font-size: 72px;
            text-align: center;
        }

    }

    .mountains{
        position: absolute;
        background-image: url("/mountains.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        z-index: 3;
        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include tablet{
            background-size: contain;
            background-repeat: no-repeat;
        }
        
    }
    .planets{
        position: absolute;
        background-image: url("/planets.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        z-index: 2;
        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .stars{
        position: absolute;
        background-image: url("/stars.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}