@import "../../app.scss";

.skills{
    margin-bottom: 10%;
    h1{
        text-align: center;
        font-size: 82px;
        color: orange;
        padding: 50px 0;
        @include tablet{
            font-size: 56px;
        }
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0 20px;
        
        @include tablet{
            grid-template-columns: 1fr;
            gap: 20px;
        }
        .item{
            background: #0C0C1D;
            padding: 25px 50px;
            border-radius: 20px;
            border: solid 1px transparent;
            @include tablet{
                padding: 10px 20px;
            }
            &:hover{
                background: transparent;
                border: solid 1px white;
                cursor: default;
            }
            h3{
                font-size: 30px;
                margin-bottom: 30px;
                @include tablet{
                    font-size: 20px;
                }
            }
            .content{
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 30px;
                .details{
                    display: flex;
                    gap: 20px;
                    h4{
                        @include tablet{
                            font-size: 16px;
                        }
                        @include mobile{
                            font-size: 12px;
                        }
                    }
                    img{
                        margin-top: 6px;
                        width: 30px;
                        @include tablet{
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}